/* Noto Serif & Inter Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Noto Sans", sans-serif;
}

Body {
    background-color: var(--bg-color);
}

/* CSS Variables */
:root {
    --dark-color: #000000;
    --link-color: #8987A1;
    --bg-color: #F5F8FF;
    --descrip-color: rgba(0, 0, 0, 0.5);
    --main-color: #E95A08;

    --h1-font: 4.0625rem;
    --h2-font: 3.125rem;
    --p-font: 1.375rem;
}

/* Repeated Styles Start */
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.section_gap {
    margin: 120px auto;
}

.flex {
    display: flex;
    align-items: center;
}

/* End Repeated Styles */


/* __________Header Area Style__________ */
.navbar {
    padding: 20px 0;
    justify-content: space-between;
    gap: 48px;
}

figure img {
    width: 100%;
}

.navbar a {
    color: var(--link-color);
    font-size: 1rem;
    font-weight: 500;
    transition: all .35s ease;
}

.navbar a:hover {
    color: var(--dark-color);
}

.navbar .active, .cart  {
    font-weight: 600;
    color: var(--dark-color);
}

.nav_icon i {
    font-size: 1.1rem;
    color: var(--dark-color);
    transition: all .35s ease;
}

.nav_icon i:hover {
    transform: scale(1.05) translateY(-5px);
}


/* __________Banner Section__________ */
.banner {
    align-items: end;
}

.banner_text h1 {
    color: var(--dark-color);
    font-size: var(--h1-font);
    font-weight: 700;
    line-height: 87px;
}

.banner_text h1 span {
    color: var(--main-color);
}

.banner_text p {
    max-width: 570px;
    color: var(--descrip-color);
    font-size: var(--p-font);
    font-weight: 400;
    line-height: 27px;
    margin-top: 15px;
    font-family: "Inter", sans-serif;
}
.banner_img img {
    width: 100%;
}


/* ___________Plants Section__________ */

/* Section_title */
.section_title {
    text-align: center;
    max-width: 888px;
    margin: 0 auto 50px;
}

.section_title h2 {
    color: var(--dark-color);
    font-size: var(--h2-font);
    font-weight: 700;
    line-height: 68px;
    margin-bottom: 14px;
}

.section_title h2 span {
    color: var(--main-color);
}

.section_title p {
    color: var(--descrip-color);
    font-size: 1.2rem;
}



/* __________Plants Card__________ */
.plants_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card {
    max-width: 270px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all .35s ease;
    font-family: "Inter", sans-serif;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}


.card h5 {
    color: #111111;
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 150%;
    margin-top: 15px;
}

.card h4 {
    color: #111111;
    font-size: var(--p-font);
    font-weight: 700;
    line-height: 150%;
    margin: 0 0 20px;
}

.card .btn {
    width: 100%;
    color: #fff;
    background-color: var(--main-color);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 50px;
    cursor: pointer;
    transition: all .35s ease;
}

.card .btn:hover {
    border-radius: 10px;
}
















/* __________Responsive Mobile Design__________ */
@media screen and (max-width: 576px) {
    /* __________Header Section__________*/
    .navbar {
        padding: 10px;
        gap: 0;
    }

    .navbar .item {
        display: none;
    }

    .nav_icon {
        font-size: 1.4rem;
        margin-top: 22px;
    }

    /* __________Banner Section__________ */
    .banner {
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    .banner_text {
        padding: 20px;
    }

    .banner_text h1 {
        font-size: 2rem;
        line-height: 40px;
    }

    .banner_text p {
        font-size: 1.2rem;
    }

    /* __________Plants Section__________ */
    .plants_section {
        margin: -70px 15px 70px;
    }

    .plants_cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .card h5, .card h4 {
        font-size: 1rem;
    }

    .card .btn {
        font-size: 0.8rem;
        padding: 15px 20px;
    }

    .section_title h2 {
        font-size: 2rem;
        line-height: 45px;
    }

    .section_title p {
        font-size: 1rem;
    }

}